<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../partials/head'); %>
    <title>Document</title>
  </head>
  <body>
    <%- include('../partials/header'); %> <%- include('../partials/footer'); %>
  </body>
</html>
