<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../components/head'); %>
    <title>Document</title>
  </head>
  <body>
    <%- include('../components/header'); %> <%- include('../components/footer'); %>
  </body>
</html>
